<div class="page-title">
    <dx-form>
        <dxo-col-count-by-screen [xs]="2" [sm]="2" [md]="2" [lg]="2"></dxo-col-count-by-screen>
        <dxi-item>
            <div *dxTemplate>
                <h2 class="page-info-title">Guardians</h2>
            </div>
        </dxi-item>
        <dxi-item>
            <div *dxTemplate>
                <div class="pull-right">
                    <shared-button class="d-shared-button" [customText]="'Add Guardian'" [isDisabled]="isDataProcessing"
                        [isVisible]="true" (clicked)="onBtnAddGuardianClicked()"></shared-button>
                </div>
            </div>
        </dxi-item>
    </dx-form>
</div>
<div class="content-block dx-card responsive-paddings">
    <dx-data-grid class="d-grid-no-bacth-actions-filter" [dataSource]="dtsGuardians"
        (onContentReady)="onGrdGuardiansContentReady($event)"
        (onToolbarPreparing)="onGrdGuardiansToolbarPreparing($event)">

        <dxo-export [enabled]="true" [fileName]="'Guardians'" [allowExportSelectedData]="false">
            <dxo-texts exportAll="Export to Excel"></dxo-texts>
        </dxo-export>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>

        <dxi-column dataField="fullName" caption=" Name" [allowHeaderFiltering]="false" [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="relation" caption="Relation" [hidingPriority]="4" [allowHeaderFiltering]="true"
            [allowFiltering]="false">
        </dxi-column>
        <dxi-column dataField="gender" caption="Gender" [hidingPriority]="3" [allowHeaderFiltering]="true"
            [allowFiltering]="false">
        </dxi-column>
        <dxi-column dataField="email" caption="Email" [hidingPriority]="2" [allowHeaderFiltering]="false"
            [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="phone" caption="Contact Number" [hidingPriority]="1" [allowHeaderFiltering]="false"
            [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="modifiedDate" caption="Modified Date" [width]="200" dataType="date" [hidingPriority]="0"
            [allowHeaderFiltering]="true" [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="id" [width]="80" alignment="right" caption="Action" [allowEditing]="false"
            [allowExporting]="false" [allowFiltering]="false" [allowFixing]="false" [allowGrouping]="false"
            [allowHeaderFiltering]="false" [allowHiding]="false" [allowReordering]="false" [allowResizing]="false"
            [allowSearch]="false" [allowSorting]="false" cellTemplate="buttonTemplate"></dxi-column>
        <div *dxTemplate="let cellInfo of 'buttonTemplate'">
            <div class="d-con-cell-action">
                <button type="button" [disabled]="isDataProcessing" id="btnMainAction-{{cellInfo.data.id}}"
                    (click)="onBtnMainActionClick(cellInfo.data)">
                    Edit
                </button>
                <button type="button" class="d-btn-toggle"></button>
            </div>
        </div>
    </dx-data-grid>

</div>
<ng-template #componentContainer></ng-template>