<dx-context-menu #cnmActions [dataSource]="dtsActions" [width]="'auto'" [target]="cnmActionsTarget"
    [(visible)]="cnmActionsVisible" (onItemClick)="onCnmActionsItemClick($event)" [showEvent]="undefined">
    <dxo-position [my]="'top right'" [at]="'bottom right'"></dxo-position>
</dx-context-menu>
<div class="page-title">
    <dx-form>
        <dxo-col-count-by-screen [xs]="2" [sm]="2" [md]="2" [lg]="2"></dxo-col-count-by-screen>
        <dxi-item>
            <div *dxTemplate>
                <h2 class="page-info-title">Appointments</h2>
            </div>
        </dxi-item>
        <dxi-item>
            <div *dxTemplate>
                <div class="pull-right">
                    <shared-button class="d-shared-button" [customText]="'Book Appointment'"
                        [isDisabled]="isDataProcessing" [isVisible]="true" (clicked)="onBtnAddAttendanceClicked()">
                    </shared-button>
                </div>
            </div>
        </dxi-item>
    </dx-form>
</div>

<div class="content-block dx-card responsive-paddings">
    <dx-data-grid #grdAppointments class="d-grid-no-bacth-actions-filter" [dataSource]="dtsAppointments"
        (onContentReady)="onGrdAppointmentsContentReady($event)" (onRowClick)="onGrdAppointmentsRowClick($event)"
        (onToolbarPreparing)="onGrdAppointmentsToolbarPreparing($event)"
        (onCellPrepared)="onGrdAttendanceCellPrepared($event)"
        >

        <dxo-export [enabled]="true" [fileName]="'Appointments'" [allowExportSelectedData]="false">
            <dxo-texts exportAll="Export to Excel"></dxo-texts>
        </dxo-export>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxi-column dataField="doctorName" caption="Doctor Name" [allowHeaderFiltering]="false" [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="appointmentDate" caption="Appointment Date" [hidingPriority]="4"
            [allowHeaderFiltering]="false" [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="startTime" caption="Start Time" [hidingPriority]="3" [allowHeaderFiltering]="false"
            [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="endTime" caption="End Time" [hidingPriority]="2" [allowHeaderFiltering]="false"
            [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="duration" caption="Duration" alignment="right" [hidingPriority]="1"
            [allowHeaderFiltering]="false" [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="status" caption="Status" [hidingPriority]="0" [allowHeaderFiltering]="true"
            [allowFiltering]="false">
        </dxi-column>
        <dxi-column dataField="id" [width]="80" alignment="right" caption="Action" [allowEditing]="false"
            [allowExporting]="false" [allowFiltering]="false" [allowFixing]="false" [allowGrouping]="false"
            [allowHeaderFiltering]="false" [allowHiding]="false" [allowReordering]="false" [allowResizing]="false"
            [allowSearch]="false" [allowSorting]="false" cellTemplate="buttonTemplate"></dxi-column>
        <div *dxTemplate="let cellInfo of 'buttonTemplate'">
            <div class="d-con-cell-action">
                <button type="button" [disabled]="isDataProcessing" id="btnMainAction-{{cellInfo.data.id}}"
                    (click)="onBtnMainActionClick(cellInfo.data)">
                    Edit
                </button>
                <button type="button" class="d-btn-toggle"></button>
            </div>
        </div>
        <div *dxTemplate="let data of 'statusFiltersTemplate'">
            <dx-form>
                <dxi-item editorType="dxSelectBox"
                    [editorOptions]="{ placeholder:'Select Status', dataSource:dtsClasses, valueExpr:'id' , displayExpr:'value', onValueChanged:onClassesValueChanged}">
                </dxi-item>
            </dx-form>
        </div>

    </dx-data-grid>

</div>
<ng-template #componentContainer></ng-template>