<h2 class="content-block">App Settings</h2>

<div class="content-block dx-card responsive-paddings">
    <dx-form #frmAppSettingDetails [(formData)]="frmAppSettings" labelLocation="top" [colCount]="2">
        <dxi-item itemType="group" caption="Personal Details">
            <dxi-item dataField="firstName">
                <dxo-label [visible]="true" text="First Name"></dxo-label>
                <dxi-validation-rule type="required" message="First Name is required.">
                </dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="lastName">
                <dxo-label [visible]="true" text="Last Name"></dxo-label>
                <dxi-validation-rule type="required" message="Last Name is required.">
                </dxi-validation-rule>
            </dxi-item>

            <dxi-item dataField="email">
                <dxo-label [visible]="true" text="Email"></dxo-label>
            </dxi-item>
        </dxi-item>
        <dxi-item itemType="group" caption="Account Info">
            <dxi-item dataField="userName">
                <dxo-label [visible]="true" text="Username"></dxo-label>
                <dxi-validation-rule type="required" message="Username is required.">
                </dxi-validation-rule>
            </dxi-item>
        </dxi-item>
        <dxi-item [colSpan]="2">
            <shared-button class="d-shared-button pull-right" [customText]="'Save'" [isDisabled]="isDataProcessing"
                [isVisible]="true">
            </shared-button>
        </dxi-item>
    </dx-form>
</div>