<dx-popup class="d-con-popup d-con-detail-popup" [(visible)]="popupVisible" [toolbarItems]="popupToolbarItems"
    [(width)]="popupWidth" [(height)]="popupHeight" [minWidth]="minWidth" [minHeight]="minHeight" [title]="popupTitle"
    [dragEnabled]="true" [resizeEnabled]="true" (onHiding)="onPopupHiding($event)" (onHidden)="onPopupHidden($event)">
    <dx-scroll-view>
        <div class="d-con-form">
            <dx-form #frmAssignmentDetails [formData]="frmAssignmentDetail" [colCount]="2">
                <dxi-item dataField="title">
                    <dxo-label [visible]="true" text="Title"></dxo-label>
                    <dxi-validation-rule type="required" message="Title is required.">
                    </dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="1">
                    <dxo-label [visible]="true" text="Valid Till"></dxo-label>
                </dxi-item>
                <dxi-item dataField="2">
                    <dxo-label [visible]="true" text="Visible To"></dxo-label>
                </dxi-item>
                <dxi-item dataField="3">
                    <dxo-label [visible]="true" text="Assign To Classes"></dxo-label>
                </dxi-item>
                <dxi-item dataField="3">
                    <dxo-label [visible]="true" text="Upload Document"></dxo-label>
                </dxi-item>
                <dxi-item dataField="description" editorType="dxTextArea" [colSpan]="2">
                    <dxo-label [visible]="true" text="Description"></dxo-label>
                </dxi-item>
            </dx-form>
        </div>
    </dx-scroll-view>

    <ng-template #componentContainer></ng-template>