<dx-context-menu #cnmBatchActions [dataSource]="dtsBatchActions" [width]="'auto'" target="#btnBatchActions"
    [(visible)]="cnmBatchActionsVisible" (onItemClick)="onCnmBatchActionsItemClick($event)" [showEvent]="undefined">
    <dxo-position [my]="'top left'" [at]="'bottom left'"></dxo-position>
</dx-context-menu>
<dx-context-menu #cnmActions [dataSource]="dtsActions" [width]="'auto'" [target]="cnmActionsTarget"
    [(visible)]="cnmActionsVisible" (onItemClick)="onCnmActionsItemClick($event)" [showEvent]="undefined">
    <dxo-position [my]="'top right'" [at]="'bottom right'"></dxo-position>
</dx-context-menu>
<div class="page-title">
    <dx-form>
        <dxo-col-count-by-screen [xs]="2" [sm]="2" [md]="2" [lg]="2"></dxo-col-count-by-screen>
        <dxi-item>
            <div *dxTemplate>
                <h2 class="page-info-title">Insurances</h2>
            </div>
        </dxi-item>
        <dxi-item>
            <div *dxTemplate>
                <div class="pull-right">
                    <shared-button class="d-shared-button" [customText]="'Add Insurance'"
                        [isDisabled]="isDataProcessing" [isVisible]="true" (clicked)="onBtnAddInsuranceClicked()">
                    </shared-button>
                </div>
            </div>
        </dxi-item>
    </dx-form>
</div>
<div class="content-block dx-card responsive-paddings">
    <dx-data-grid #grdInsurances class="d-grid-no-bacth-actions-filter" [dataSource]="dtsInsurances"
        (onSelectionChanged)="gridListHelper.onSelectionChanged($event)"
        (onContentReady)="onGrdInsurancesContentReady($event)" (onRowClick)="onGrdInsurancesRowClick($event)"
        (onToolbarPreparing)="onGrdInsurancesToolbarPreparing($event)">

        <dxo-export [enabled]="true" [fileName]="'Insurances'" [allowExportSelectedData]="false">
            <dxo-texts exportAll="Export to Excel"></dxo-texts>
        </dxo-export>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-selection mode="multiple" selectAllMode="page" showCheckBoxesMode="always"></dxo-selection>


        <dxi-column dataField="subscriberName" caption="Subscriber Name" [allowHeaderFiltering]="false"
            [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="relationship" caption="Relationship" [hidingPriority]="9" [allowHeaderFiltering]="true"
            [allowFiltering]="false">
        </dxi-column>

        <dxi-column dataField="email" caption="Email" [hidingPriority]="8" [allowHeaderFiltering]="false"
            [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="relationName" caption="Relation Name" [hidingPriority]="7" [allowHeaderFiltering]="false"
            [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="companyName" caption="Company Name" [allowSorting]="false" [hidingPriority]="6"
            [allowHeaderFiltering]="false" [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="insuraceId" caption="Insurace Id" [allowSorting]="false" [hidingPriority]="5"
            [allowHeaderFiltering]="false" [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="phoneNo" caption="Phone No" [allowSorting]="false" [hidingPriority]="4"
            [allowHeaderFiltering]="false" [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="sNN" caption="SNN" [allowSorting]="false" [hidingPriority]="3"
            [allowHeaderFiltering]="false" [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="notes" caption="Notes" [allowSorting]="false" [hidingPriority]="0"
            [allowHeaderFiltering]="false" [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="modifiedDate" caption="Modified Date" [width]="200" dataType="date" [hidingPriority]="2"
            [allowHeaderFiltering]="true" [allowFiltering]="true">
        </dxi-column>
        <dxi-column dataField="modifiedBy" caption="Modified By" [width]="200" [hidingPriority]="1"
            [allowFiltering]="true" [allowHeaderFiltering]="false">
        </dxi-column>
        <dxi-column dataField="id" [width]="80" alignment="right" caption="Action" [allowEditing]="false"
            [allowExporting]="false" [allowFiltering]="false" [allowFixing]="false" [allowGrouping]="false"
            [allowHeaderFiltering]="false" [allowHiding]="false" [allowReordering]="false" [allowResizing]="false"
            [allowSearch]="false" [allowSorting]="false" cellTemplate="buttonTemplate"></dxi-column>
        <div *dxTemplate="let cellInfo of 'buttonTemplate'">
            <div class="d-con-cell-action">
                <button type="button" [disabled]="isDataProcessing" id="btnMainAction-{{cellInfo.data.id}}"
                    (click)="onBtnMainActionClick(cellInfo.data)">
                    Edit
                </button>
                <button type="button" class="d-btn-toggle"></button>
            </div>
        </div>
    </dx-data-grid>

</div>
<ng-template #componentContainer></ng-template>